<c-row>
    <c-col md="12" xl="3">
        <c-widget-stat-b [title]="'Potential Doctors'" [value]="dashboardCounters.potentialDoctorsCounter" class="mb-4" [color]="'danger'">
        </c-widget-stat-b>
    </c-col>
    <c-col md="12" xl="3">
        <c-widget-stat-b [title]="'Follow Up Doctors'" [value]="dashboardCounters.followupDoctorsCounter" class="mb-4" [color]="'warning'">
        </c-widget-stat-b>
    </c-col>
    <c-col md="12" xl="3">
        <c-widget-stat-b [title]="'Achievement'" [value]="'44'" class="mb-4" [color]="'success'">
        </c-widget-stat-b>
    </c-col>
    <c-col md="12" xl="3">
        <c-widget-stat-b [title]="'First Time'" [value]="'10'" class="mb-4" [color]="'primary'">
        </c-widget-stat-b>
    </c-col>
</c-row>