<c-container fluid>
    <c-row class="justify-content-center">
        <c-col class="col">
            <p class="text-danger" *ngIf="errorMessage">{{ errorMessage }}</p>
            <form cForm #firstVisitForm="ngForm" (ngSubmit)="create()" (change)="resetError()">
                <div class="form-group" class="mb-3">
                    <small *ngIf="doctorName.invalid && (doctorName.dirty || doctorName.touched)"
                        class="form-text text-danger">
                        Doctor Name is required
                    </small>
                    <c-input-group>
                        <input cFormControl id="doctorName" name="doctorName" placeholder="Doctor Name" required
                            [(ngModel)]="firstVisit.doctor!.name" #doctorName="ngModel" />
                    </c-input-group>
                </div>
                <div class="form-group" class="mb-3">
                    <small *ngIf="doctornpi.invalid && (doctornpi.dirty || doctornpi.touched)"
                        class="form-text text-danger">
                        Doctor NPI is required
                    </small>
                    <c-input-group>
                        <input cFormControl id="doctornpi" name="doctornpi" placeholder="Doctor NPI" required
                            [(ngModel)]="firstVisit.doctor!.npi" #doctornpi="ngModel" />
                    </c-input-group>
                </div>
                <div class="form-group" class="mb-3">
                    <label>Date of visit</label>
                    <c-date-picker closeOnSelect size="sm" cFormControl id="dateOfVisit" name="dateOfVisit"
                        placeholder="Date Of Visit"
                        [ngClass]="{'is-invalid': dateOfVisit.invalid && (dateOfVisit.dirty || dateOfVisit.touched)}"
                        [(ngModel)]="firstVisit.dateOfVisit_str" #dateOfVisit="ngModel" disabled></c-date-picker>
                </div>
                <div class="form-group" class="mb-3">
                    <small *ngIf="impression.invalid && (impression.dirty || impression.touched)" class="form-text text-danger">
                      Impression is required
                    </small>
                    <select cSelect sizing="sm" cFormControl name="impression" id="impression" required
                      [(ngModel)]="firstVisit.impression" #impression="ngModel">
                      <option value="">Select Impression</option>
                      <option *ngFor="let impression of impressions | keyvalue" [value]="impression.key">
                        {{impression.value}}
                      </option>
                    </select>
                  </div>
                  <div class="form-group" class="mb-3">
                    <small *ngIf="contactName.invalid && (contactName.dirty || contactName.touched)"
                      class="form-text text-danger">
                      Contact Name is required
                    </small>
                    <c-input-group>
                      <input cFormControl id="contactName" name="contactName" placeholder="Contact Name" required
                        [(ngModel)]="firstVisit.contactName" #contactName="ngModel" />
                    </c-input-group>
                  </div>
                  <div class="form-group" class="mb-3">
                    <small *ngIf="contactPosition.invalid && (contactPosition.dirty || contactPosition.touched)"
                      class="form-text text-danger">
                      Contact Postion is required
                    </small>
                    <select cSelect sizing="sm" cFormControl name="contactPosition" id="contactPosition" required
                      [(ngModel)]="firstVisit.contactPosition" #contactPosition="ngModel">
                      <option value="">Select Position</option>
                      <option *ngFor="let position of contactPositions | keyvalue" [value]="position.key">
                        {{position.value}}
                      </option>
                    </select>
                  </div>
                  <div class="form-group" class="mb-3">
                    <label>Next follow-up date</label>
                    <c-date-picker closeOnSelect size="sm" cFormControl id="nextFollowupDate" name="nextFollowupDate"
                      placeholder="Follow Up Date" [(ngModel)]="firstVisit.nextFollowupDate_str" #nextFollowupDate="ngModel"
                      disabled></c-date-picker>
                  </div>
                  <div class="form-group" class="mb-3">
                    <small *ngIf="feedback.invalid && (feedback.dirty || feedback.touched)" class="form-text text-danger">
                      feedback is required
                    </small>
                    <c-input-group>
                      <textarea cFormControl id="feedback" name="feedback" placeholder="feedback" required cols="200" class="mb-3"
                        [(ngModel)]="firstVisit.feedback" #feedback="ngModel"></textarea>
                    </c-input-group>
                  </div>
            </form>
        </c-col>
    </c-row>
</c-container>