<ngx-spinner></ngx-spinner>
<c-row>
  <c-col xs="6" class="mb-2">
    <h1>Potential Doctors</h1>
  </c-col>
  <c-col xs="6">
    <div style="float: right;" class="mb-3">
      <button cButton color="primary" (click)="createFirstVisit()">
        Create First Visit
      </button>
    </div>
  </c-col>
</c-row>
<hr />
<ng-container *ngIf="props$ | async as props" fluid="true">
  <c-smart-table [columnSorter]="{resetable: true }" [columns]="columns" [columnFilter]="true"
    [items]="(potentialDoctorData$ | async) ?? []" [itemsPerPage]="props.itemsPerPage"
    (itemsPerPageChange)="handleItemsPerPageChange($event)" [itemsPerPageOptions]="[5,10,20]"
    [itemsPerPageSelect]="true" [tableProps]="{ hover: true, striped: true, responsive: true }"
    [columnFilterValue]="props.columnFilterValue?? []" [sorterValue]="props.sorterValue"
    [tableProps]="{ hover: true, striped: true, responsive: true }"
    (sorterValueChange)="handleSorterValueChange($event)" cleaner header>
    <ng-template cTemplateId="tableData" let-columnName="columnName" let-item="item" let-tdContent="tdContent">
      <td>
        <ng-container [ngSwitch]="columnName">
          <ng-container *ngSwitchDefault>
            {{tdContent}}
          </ng-container>
          <ng-container *ngSwitchCase="'action'" class="py-2">
            <button (click)="startFollowup(item)" cButton color="primary" size="sm" variant="outline">
              Start Follow-Up
            </button>
          </ng-container>
        </ng-container>
      </td>
    </ng-template>
  </c-smart-table>
  <c-smart-pagination *ngIf="props.totalPages" [activePage]="props.activePage"
    (activePageChange)="handleActivePageChange($event)" [pages]="props.totalPages"></c-smart-pagination>
</ng-container>
<ng-container *ngIf="errorMessage$ | async as errorMessage">
  <hr>
  <c-alert>{{errorMessage}}</c-alert>
</ng-container>
<c-modal id="followupmodal" #modalXl id="modalXl" size="xl" [visible]="followupVisible"
  (visibleChange)="handleLiveDemoChange($event)">
  <c-modal-header>
    <h5 cModalTitle>Follow Up : <strong>{{selectedDoctor}}</strong></h5>
    <button (click)="closeModal()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <app-followup-creation></app-followup-creation>
  </c-modal-body>
  <hr>
  <div class="text-center mb-3">
    <button cButton color="primary" (click)="save()">Save Follow Up</button>
  </div>
</c-modal>

<c-modal id="firstVisit" #modalXl id="modalXl" size="xl" [visible]="firstVisible"
  (visibleChange)="handleFirstVisitChange($event)">
  <c-modal-header>
    <h5 cModalTitle>First Visit</h5>
    <button (click)="closeFirstVisitModal()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    
  </c-modal-body>
  <hr>
  <div class="text-center mb-3">
    <button cButton color="primary" (click)="save()">Save Follow Up</button>
  </div>
</c-modal>