<ngx-spinner></ngx-spinner>
<c-row>
  <c-col xs="12" class="mb-2">
    <h1>FollowUp Doctors</h1>
  </c-col>
</c-row>
<hr />
<ng-container *ngIf="props$ | async as props" fluid="true">
  <c-smart-table [columnSorter]="{resetable: true }" [columns]="columns" [items]="(potentialDoctorData$ | async) ?? []"
    [itemsPerPage]="props.itemsPerPage" (itemsPerPageChange)="handleItemsPerPageChange($event)"
    [itemsPerPageOptions]="[5,10,20]" [itemsPerPageSelect]="true"
    [tableProps]="{ hover: true, striped: true, responsive: true }" [columnFilterValue]="props.columnFilterValue?? []"
    [sorterValue]="props.sorterValue" [tableProps]="{ hover: true, striped: true, responsive: true }"
    (sorterValueChange)="handleSorterValueChange($event)" cleaner header>
    <ng-template cTemplateId="tableData" let-columnName="columnName" let-item="item" let-tdContent="tdContent">
      <td>
        <ng-container [ngSwitch]="columnName">
          <ng-container *ngSwitchDefault>
            {{tdContent}}
          </ng-container>
          <ng-container *ngSwitchCase="'actions'" class="py-2">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button cButton color="primary" size="sm" variant="outline" (click)="openFollowup(item)">
                Start Follow-Up
              </button>
              <button cButton color="primary" size="sm" variant="outline" (click)="openHistory(item)">
                Show history
              </button>
            </div>
          </ng-container>
        </ng-container>
      </td>
    </ng-template>
  </c-smart-table>
  <c-smart-pagination *ngIf="props.totalPages" [activePage]="props.activePage"
    (activePageChange)="handleActivePageChange($event)" [pages]="props.totalPages"></c-smart-pagination>
</ng-container>
<ng-container *ngIf="errorMessage$ | async as errorMessage">
  <hr>
  <c-alert>{{errorMessage}}</c-alert>
</ng-container>

<c-modal id="history" #modalXl id="modalXl" size="xl" [visible]="historyVisible"
  (visibleChange)="handleHistoryChange($event)">
  <c-modal-header>
    <h5 cModalTitle>History</h5>
    <button (click)="closeHistoryModal()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>

  </c-modal-body>
  <hr>
</c-modal>

<c-modal id="Follow-Up" #modalXl id="modalXl" size="xl" [visible]="followupVisible"
  (visibleChange)="handleFollowupChange($event)">
  <c-modal-header>
    <h5 cModalTitle>Start Follow-up</h5>
    <button (click)="closeFollowupModal()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>

  </c-modal-body>
  <hr>
  <div class="text-center mb-3">
    <button cButton color="primary" (click)="saveFollowup()">Save Follow Up</button>
  </div>
</c-modal>